<%- include('header'); %>
    <div>
        <form>
            <input type="text" id="city" name="city" placeholder="City name">
            <button type="submit">Submit</button>
       </form>
    </div>
    <div id="weather">
        <div id="description"></div>
        <h1 id="temp"></h1>
        <div id="location"></div>
    </div>
<%- include('footer'); %>